# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/
.windsurfrules
# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# R
.Rhistory
.Rapp.history
.RData
.Ruserdata
*.Rproj.user/
*.Rproj

# Logs and databases
*.log
*.sqlite
logs/
*.db

# Data and output files
data/
outputs/
*.csv
*.xlsx
*.xls
*.pkl
*.h5
*.json
*.yaml
*.yml

# OS specific
.DS_Store
Thumbs.db
*.bak
*.swp
*.tmp

# Project specific

cyber_insurance/outputs/
cyber_insurance/logs/
!data/Cyber Events Database - Records thru mid-Aug2024.xlsx
!data/data-security-cyber-incidents-trends-q1-2019-to-q3-2024.csv
!src/cyber_insurance/data/
notes.md